body {
  background-image: url("/background.jpeg");
    background-size: 1500px;
    font-family: "Indie Flower" , cursive;
  }

  .Heading {
    
    margin-top: 270px;
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
  }


.Tasksremaining {
  text-align: left;
  margin-top: 20px;
  font-size: larger;
  margin-bottom: 50px;
}


.container {
    text-align: left 20px; 
    
}


 .taskstable {
    height: 60px;
    text-align: left;
    
  }

.taskstocomplete {
  text-align: center;
  background-color: ;
}



.taskscompletedheader {
  background-color: #383838;
  color: white;
  text-align: center;
  
}

.y1 {
  color: white;
  font: x-large;
  background-color: #383838;
  text-align: center;
  margin-bottom: 25px;
}

.y2 {

  color: white;
  font: x-large;
  background-color: #383838;
  text-align: center;
  margin-bottom: 25px;
}