body {
  background-image: url("/background.jpeg");
    background-size: 1500px;
    font-family: "Indie Flower" , cursive;
  }

.Heading {
  text-align: left;
  margin-top: 100px;
  margin-left: -70px;
  font-size: x-large;
  margin-bottom: 20px;
}


.input-group {
  margin-left: -70px;
}

.Tasksremaining {
  margin-left: -70px;
  text-align: left;
  margin-top: 20px;
  font-size: larger;
}

.taskbox {
  margin-left: -70px;
}


.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: lightsalmon;
  color:black;
}

.container {
    text-align: left;
   

    
}

